<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class=class="mb-4">
    <%= form.label :title, class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field">
    <%= form.label :name, class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
  </div>

  <div class=class=class="mb-6">
    <%= form.label :body, class:"block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :body, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-blue" %>
  </div>
<% end %>
